@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic);
main {
  margin: 100px auto; }

body {
  background: #e2e2e2;
  font-family: 'Roboto Condensed', sans-serif; }

#iphone {
  position: relative;
  width: 58.6mm;
  height: 123.8mm;
  border: 3px solid black;
  margin: 0 auto;
  border-radius: 16px;
  background: black;
  border: gray 3px solid; }

#topButton {
  width: 36px;
  height: 4px;
  background: grey;
  position: relative;
  top: -6px;
  left: 162px;
  border-radius: 2px 2px 0px 0px; }

#sideButtons .button {
  width: 5px;
  height: 25px;
  background: gray;
  position: relative;
  top: 40px;
  right: 6px;
  border-radius: 2px 0px 0px 2px; }

#sideButtons .button:nth-child(2) {
  top: 55px; }

#sideButtons .button:nth-child(3) {
  top: 75px; }

#speaker {
  width: 50px;
  height: 10px;
  background: grey;
  position: relative;
  top: -61px;
  left: 85px;
  border-radius: 4px; }

#screen {
  width: 190px;
  height: 360px;
  background: #F5F4F0;
  position: relative;
  top: -45px;
  left: 13px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  text-align: center; }

#home-button {
  width: 45px;
  height: 45px;
  position: relative;
  top: -39px;
  left: 86px;
  background: rgba(106, 106, 106, 0.91);
  border-radius: 50%; }
  #home-button #square {
    content: none;
    width: 29px;
    height: 29px;
    position: relative;
    border: 4px solid black;
    top: 8px;
    left: 8px;
    border-radius: 5px; }

.stacks {
  width: 100%; }

#location {
  font-size: 17px;
  height: 10%;
  padding-top: 4px;
  background: #F3F2EE;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #193E4E;
  border-bottom: #D2D1CD solid 1px; }

#headline {
  height: 10%; }
  #headline h2 {
    margin: 3px;
    font-size: 22px;
    color: #FF406F; }

#temperature {
  height: 10%;
  display: table; }
  #temperature p {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #274D5A; }

#icon {
  height: 40%; }
  #icon p {
    font-size: 110px;
    color: #00C3BF; }
  #icon .wi {
    display: block; }

#info {
  display: flex;
  flex-wrap: wrap;
  height: 30%; }
  #info #description {
    width: 100%;
    height: 40%;
    display: table;
    color: #274D5A;
    margin-top: -10px; }
    #info #description p {
      display: table-cell;
      vertical-align: middle;
      font-size: 32px; }
  #info #more-info {
    width: 100%;
    height: 60%;
    display: flex;
    border: 1px solid #D9D6D1;
    border-radius: 8px;
    margin-bottom: -7px; }
    #info #more-info .info-stacks {
      width: 33.333%;
      height: 100%;
      color: #77848C;
      background: #E4E3DF;
      font-size: 20px; }
    #info #more-info #high-temperature {
      display: table; }
      #info #more-info #high-temperature p {
        display: table-cell;
        vertical-align: middle; }
    #info #more-info #low-temperature {
      display: table; }
      #info #more-info #low-temperature p {
        display: table-cell;
        vertical-align: middle; }
    #info #more-info #humidity {
      display: table; }
      #info #more-info #humidity p {
        display: table-cell;
        vertical-align: middle; }
